* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("images/nature.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.required::after{
    content:" *";
    color: red;
  }


#create-account-form {
    width:500px;
    padding:30px;
    text-transform: uppercase;
    background-color:white;
    border-radius: 10px;
}

.title {
    margin-bottom: 20px;
}

.input-group {
    position:relative;
}

.input-group label {
    display:inline-block;
    margin-bottom: 5px;
}

.input-group input {
    display:block;
    width:100%;
    padding:10px;   
}

.error input {
    border:3px red solid;
}

.success input {
    border:3px green solid;
}

 .input-group i {
     position:absolute;
     right:10px;
     top:43px;
     visibility: hidden; 
 }


 .success i.fa-check-circle{
     visibility: visible; 
     color:green;
 }

 .error i.fa-exclamation-circle {
    visibility: visible; 
    color:red;
}


 .input-group p {
     font-size: 15px;
     color:red;
     visibility: hidden; 
 }

 .error p {
     visibility: visible; 
 }

 .btn {
     width:100%;
     padding:10px;
     font-size: 20px;
     background-color:rgb(14, 72, 231);
     color:#fff;
     text-transform: uppercase;
     border:none;
 }

 h2{
    text-align: center;
 }









